<!-- Sidebar -->

<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper"><a href="/dashboard" class="left-sidebar-toggle">Dashboard</a>
      <div class="left-sidebar-spacer">
        <div class="left-sidebar-scroll">
          <div class="left-sidebar-content">
            <ul class="sidebar-elements">
              <li class="divider">Menu</li>
              <li class="{% if menu == 'dashboard' %} active {% endif %}"><a href="/dashboard"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
              </li>
              <li class="parent {% if menu == 'penduduk' %} active open {% endif %}"><a href="#"><i class="icon mdi mdi-accounts-alt""></i><span>Implementasi</span></a>
                <ul class="sub-menu">
                  {% if current_user.username == 'pribadi' %}
                    <li class="{% if submenu == 'dataPribadi' %} active {% endif %}"><a href="/pribadi/">Data Pribadi</a>
                    </li>
                    <li class="{% if submenu == 'data Lapor' %} active {% endif %}"><a href="/data_lapor/">Data Lapor</a>
                    </li>
                  {% elif current_user.username == 'polsek' %}
                    <li class="{% if submenu == 'dataPolsek' %} active {% endif %}"><a href="/polsek/">Data Polsek</a>
                    </li>
                    <li class="{% if submenu == 'dataProsedur' %} active {% endif %}"><a href="/prosedur/">Prosedur Lapor</a>
                    </li>
                    <li class="{% if submenu == 'dataWebsite Resmi' %} active {% endif %}"><a href="/website_resmi/">Website Resmi</a>
                    </li>
                    <li class="{% if submenu == 'dataNomor Layanan' %} active {% endif %}"><a href="/nomor_layanan/">Nomor Layanan</a>
                    </li>
                  {% elif current_user.username == 'medcen' %}
                    <li class="{% if submenu == 'dataMedcen' %} active {% endif %}"><a href="/medcen/">Data MedcenITS</a>
                    </li>
                    <li class="{% if submenu == 'dataProsedur' %} active {% endif %}"><a href="/prosedur/">Prosedur Lapor</a>
                    </li>
                    <li class="{% if submenu == 'dataWebsite Resmi' %} active {% endif %}"><a href="/website_resmi/">Website Resmi</a>
                    </li>
                    <li class="{% if submenu == 'dataNomor Layanan' %} active {% endif %}"><a href="/nomor_layanan/">Nomor Layanan</a>
                    </li>
                  {% else %}
                  {% endif %}
                </ul>
              </li>
          </div>
        </div>
      </div>
      <div class="progress-widget">
        <div class="progress-data" style="margin-left: 15px;">
          <span class="name">Build with <i class="mdi mdi-coffee"></i> SBD D</span>
        </div>
      </div>
    </div>
  </div>