<!-- Pribadi -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">Website Resmi&nbsp;&nbsp;&nbsp;
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                          <th style="width:20%;">Kode Polsek</th>
                          <th style="width:35%;">Web Resmi Polsek</th>
                          <th style="width:35%;">Web Resmi Medcen</th>
                          <th></th>
                          <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data6a %}
                          <tr>
                            <td>{{row.kodePolsek}}</td>
                            <td>{{row.WebsiteResmiPolsek}}</td>
                            <td></td>
                            <td></td>
                          </tr>
                        {% endfor %}
                        {% for row in data6b %}
                          <tr>
                            <td>{{row.kodePolsek}}</td>
                            <td>{{row.WebsiteResmiMedcen}}</td>
                            <td></td>
                            <td></td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--  -->
            </div>
        </div>
    </div>
  </div>
  