{% extends 'layout.html' %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='assets/lib/select2/css/select2.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='assets/lib/bootstrap-slider/css/bootstrap-slider.css') }}"/>    
{% endblock styles %}
    

{% block content %}
<div class="col-sm-12">
    <div class="panel panel-default panel-border-color panel-border-color-primary">
      <div class="panel-heading panel-heading-divider">{{title}}<span class="panel-subtitle">Lengkapi data dibawah ini</span></div>
      <div class="panel-body">
        <form method="POST" data-parsley-validate="" novalidate="" enctype="multipart/form-data">
          <div class="form-group">
            <label>kode Polsek</label>
            <select name="kodePolsek" parsley-trigger="change" required="" placeholder="Masukan Pekerjaan" autocomplete="off" class="form-control">
                <option>{% if data %} {{ data.kodePolsek }} {% else %} -- Pilih Kode Polsek -- {% endif %}</option>
                {% for data in dataPolsek %}
                  <option>{{data.kodePolsek}}</option>
                {% endfor %}
            </select>
          </div>
          {% if current_user.username == 'polsek' %}
            <div class="form-group">
              <label>Prosedur Lapor Polsek</label>
              <input type="file" name="laporPolsek" required="" parsley-trigger="change" autocomplete="off" class="form-control" value="{% if data %}{{data.ProsedurLaporPolsek}}{% endif %}">
              <span class="panel-subtitle">Format Penamaan (NRP - Nama -  Prosedur Lapor Polsek)</span>
            </div>
          {% elif current_user.username == 'medcen' %}
            <div class="form-group">
              <label>Prosedur Lapor Medcen</label>
              <input type="file" name="laporMedcen" required="" parsley-trigger="change" autocomplete="off" class="form-control" value="{% if data %}{{data.ProsedurLaporMedcen}}{% endif %}">
              <span class="panel-subtitle">Format Penamaan (NRP - Nama -  Prosedur Lapor Medcen)</span>
            </div>
          {% endif %}
          <br><br>
          <p class="text-right">
            <button type="submit" class="btn btn-space btn-primary">{% if data %}Simpan {% else %}Tambah{% endif %}</button>
            <a href="{% if title == 'Tambah Pribadi' or 'Ubah Pribadi' %} /prosedur/ {% else %} /prosedur/ {% endif %}" class="btn btn-space btn-default">Batal</a>
          </p>
        </form>
      </div>
    </div>
</div>    
{% endblock content %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for ('static', filename='assets/lib/jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename='assets/lib/jquery.nestable/jquery.nestable.js') }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename='assets/lib/moment.js/min/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename='assets/lib/datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename='assets/lib/select2/js/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename='assets/lib/bootstrap-slider/js/bootstrap-slider.js') }}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename='assets/lib/parsley/parsley.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //initialize the javascript
        App.init();
        $('form').parsley();
        App.formElements();
    });
</script>    
{% endblock scripts %}
    