{% extends 'layout.html' %}


{% block styles %}

{% endblock styles %}


{% block content %}

<!-- Pribadi -->
{% include 'snippets/pribadi.html' %}

<!-- Polsek -->
{% include 'snippets/polsek.html' %}

<!-- MedcenITS -->
{% include 'snippets/medcen.html' %}

<!-- Prosedur -->
{% include 'snippets/prosedur.html' %}

<!-- nomorLayanan -->
{% include 'snippets/layanan.html' %}

<!-- Web Resmi -->
{% include 'snippets/webresmi.html' %}

<!-- Data Lapor -->
{% include 'snippets/lapor.html' %}

{% endblock content %}


{% block scripts %}
<script  type="text/javascript" src="{{ url_for ('static', filename='assets/lib/jquery.niftymodals/dist/jquery.niftymodals.js') }}"></script>
<script type="text/javascript">
    $.fn.niftyModal('setDefaults',{
    	overlaySelector: '.modal-overlay',
    	closeSelector: '.modal-close',
    	classAddAfterOpen: 'modal-show',
    });
</script>
{% endblock scripts %}